<header>
  <div class="navbar navbar-dark bg-darksalmon box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <i class="fas fa-store"></i>&nbsp;
        <strong>Shopping Cart</strong>
      </a>
      <%= link_to raw('<i class="fas fa-sign-out-alt"></i>'),destroy_customer_session_path, method: "delete", class: "btn btn-secondary" %>
    </div>
  </div>
</header>
